# GITIGNORE #

# Downloaded libraries #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


# Temporary Files #
*.tmp

# Build and gradle stuff #
faircorp_/*
!faircorp_/faircorp_/

faircorp_/faircorp_/*
!faircorp_/faircorp_/src

faircorp_/faircorp_/src/main/resources/

faircorp_/faircorp_/src/test/

# Beginning Things #
faircorp_/faircorp_/src/main/java/com/emse/spring/faircorp/hello/

# Test controller
faircorp_/faircorp_/src/main/java/com/emse/spring/faircorp/api/HelloController.java